section.gallery
  div.container
    div.gallery-box.box
      h2.gallery-title Фотографии Электрона
      div.gallery-body
        div.gallery-wrap
          div.gallery-row
            div.gallery-item
              img(src="img/photo_1.jpg" alt="gallery")
            div.gallery-item
              img(src="img/photo_2.jpg" alt="gallery")
            div.gallery-item
              img(src="img/photo_3.jpg" alt="gallery")
            div.gallery-item
              img(src="img/photo_4.jpg" alt="gallery")
